.education{
    padding-left: 130px;
    margin-top: 60px;
    background-color: beige;
}

.education hr{
    color: #f29f67;
    width: 400px;
    margin: 10px auto;
}

.education h2{
    font-weight: bold;
    color: #f29f67;
}
